 <strong><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</strong>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
