<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Form Post</h4>
      </div>
      <div class="modal-body">

<!-- div mostrar notificacion exitosa-->
      <div id="notification" class="alert alert-success" style="display:none">
       <strong>Envío exitoso</strong>
      </div>
<!-- div para mostrar errores -->
      <div id="error_explanation" class="alert alert-danger" style="display:none">
      </div>

         <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
